/mcalc/scripts/old
/old/GetSmallerInteraction.py
/old/doVCE.py
/scripts/rename_dirs.py
/results-old*
/.idea
*.pyc
/mcalc/results
/mcalc/templates/TBMEA2srg-n3lo2.0_15.24
/results
/scripts/old
templates/TBMEA2srg-n3lo2.0_15.24
