/old
/scripts/rename_dirs.py
/.idea
*.pyc
/results*
/templates/TBMEA2srg-n3lo2.0_15.24
/it-code-111815.f*
/list_diag.py
/diag.txt
*~
/scripts/remove_tmp_files.py
tbme_tmp
scripts/test_TBME.py
.DS_Store
/test
