/.idea
/results*
beta.xlsx
TODO.org
/try
*/TBMEA2srg-n3lo2.0_15.24*
*/*/TBMEA2srg-n3lo2.0_15.24*
/tmp
scripts/rename_dirs.py
.DS_Store
*~
doc/trel/*.aux
doc/trel/*.log
doc/trel/*.out
/old
*/__pycache__
*.pyc
